# Copy to ~/.xrevealrc and edit.  See xrevealrc(5).

[general]
keys = Meta-z Find
keys-wingrp = Alt-Meta-z Alt-Find
mouse-corner = SW
mouse-delay = 0.25
distance = 15
ignoreSkipTaskbar = false
useNETWMFullscreen = true
updateFreq = 10.0
lazyTrans = false

[xinerama]
showAll = false

[normal]
tint = black
tintOpacity = 0
opacity = 255

[highlight]
tint = #101020
tintOpacity = 50
opacity = 255

[tooltip]
show = true
border = #e0e0e0
background = #404040
opacity = 128
foreground = #e0e0e0
textShadow = black
font = Monospace:style=Bold, 12
